.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
