.ant-tooltip-container {

}

.variable-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.variable-input {
    height: 100px;
}

.variable-preview {
    background-color: #e9e9e9;
    padding: 7px 5px 7px 5px;
    border-radius: 15px;
    font-size: 12px;
}
