/*!* RequestHeader.css *!*/
/*.custom-input-with-suffix .ant-input-affix-wrapper {*/
/*    padding-right: 84px; !* 为suffix预留空间，避免文字被遮挡 *!*/
/*}*/

/*.custom-input-with-suffix .ant-input {*/
/*    padding-right: 84px;*/
/*}*/

/*!* 可选：调整suffix按钮的样式 *!*/
/*.custom-input-with-suffix .ant-btn-text {*/
/*    color: rgba(0, 0, 0, 0.45);*/
/*    transition: color 0.3s;*/
/*}*/

/*.custom-input-with-suffix .ant-btn-text:hover {*/
/*    color: rgba(0, 0, 0, 0.85);*/
/*}*/

/*.variable-wrapper {*/
/*    width: 300px;*/
/*}*/

.ant-tooltip-container {
    /*width: 300px;*/
}

.variable-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.variable-input {
    height: 100px;
}

.variable-preview {
    background-color: #e9e9e9;
    padding: 7px 5px 7px 5px;
    border-radius: 15px;
    font-size: 12px;
}
