.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  box-sizing: border-box;
}

.header-bar {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
}

.content {
  width: 99%;
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0,0,0,.12);
}

.left-side {
  width: 32%;
  height: calc(100% - 61px);
}

.right-side {
  width: 68%;
  height: calc(100% - 61px);
}
