.title-content {
    margin-top: 10px;
    border-bottom: 1px solid #e5e7ee;
    min-height: 40px;
    padding: 10px;
}

/*.title-content .ant-form-item {*/
/*    margin-bottom: 0;*/
/*}*/

.title-content :global(.ant-form-item) {
    margin-bottom: 0;
}

