.request-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #e5e7ee;
    padding: 0 20px 20px 20px;
}

.request-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e5e7ee;
}

.request-body {
    min-height: 500px;
}
